.box{
    width: 300px;
    height: 300px;
    background-color: pink;
}
.box2{
    /*margin: 30px; all /*4 sides same size */
      /*margin: 10px 30px;/* top: 10 right:30*/
    /*  margin: 10px 30px 20px 40px /* top: 10 right:30 bottom:50 */
       margin:auto /*centers horizontally*/
}
body{
    background-color: darkorchid(200,300,400);
}
.border{
    border:2px solid red;
    border-right:3px cornsilk;
     border-right:4px grey;
      border-right:6px gold;

}